
.title-card{
    font-family: 'Fuzzy Bubbles', cursive;
    color: rgb(145, 150, 218);
    font-size: 50px;
    }
    
    .vgame-create{
     font-family: 'Fuzzy Bubbles',Georgia, 'Times New Roman', Times, serif;
     font-size: 30px;
     color: rgb(74, 240, 9);
     
    }
    
    
    .container-cards{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        padding: 0px 10px 0px 20px;
        justify-content: center;
        backdrop-filter:blur(7.5px); 
        
    }
    .Indivgame{
        display: inline-flexbox;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border-radius: 30px;
        padding-top: 5px;
        font-family:'Fuzzy Bubbles',  Arial, Helvetica, sans-serif;
        color: rgb(39, 16, 138);
        height: 5vh;
    }
    .Filtervgame{
        display: inline-flexbox;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border-radius: 30px;
        padding-top: 5px;
        font-family:'Fuzzy Bubbles',  Arial, Helvetica, sans-serif;
        color: rgb(39, 16, 138);
        height: 5vh;
    }
    .Filtervgame2{
        display: inline-flexbox;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border-radius: 30px;
        padding-top: 5px;
        font-family:'Fuzzy Bubbles',  Arial, Helvetica, sans-serif;
        color: rgb(39, 16, 138);
        height: 5vh;
    }
    
    .card-link{
        height: 565px;
    
    }
    @media screen and (max-width:600px){
        .Indivgame{
            font-size: 10px;
        }
    }
    @media screen and (max-width:600px){
        .Filtervgame{
            font-size: 10px;
        }
    }
    @media screen and (max-width:600px){
        .Filtervgame2{
            font-size: 10px;
        }
    }
   
  