

.boton-paginado {
    font-family: 'Press Start 2P';
    font-size: larger;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: coral;
    color:black
    
    
}

.boton-paginado:active {
    background-color: rgb(182, 50, 50);
    color: rgb(24, 216, 33);
}

.boton-paginado:hover:not(.active) {
    background-color: black;
    color:coral
}

.div-paginado {
    display:inline-flex;
    justify-content:center;
    padding: 20px;
   
}
@media screen and (max-width:600px) {
    .boton-paginado{
        font-size: 10px;
        width: 40px;
    }
}
